{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Content }}

		
			<div class="post-taxonomies">
				{{ if .Params.categories }}
					<ul class="post-categories">
						{{ range .Params.categories }}
							<li><a href="{{ "categories/" | urlize | absLangURL }}">{{ . }}</a></li>
						{{ end }}
					</ul>
					{{ end }}
					{{ if .Params.tags }}
						<ul class="post-tags">
							{{ range .Params.tags }}
								<li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
							{{ end }}
						</ul>
				{{ end }}
			</div>
		

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}
