<div class="post-taxonomies">
    <div>
    {{ if .Params.categories }}
    <span>Kategorie:</span>
        <ul class="post-categories">
            {{ range .Params.categories }}
                <li><a href="{{ "categories/" | urlize | absLangURL }}">{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div>   
        {{ if .Params.tags }}
    <span>Tagi:</span>
            <ul class="post-tags">
                {{ range .Params.tags }}
                    <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
                {{ end }}
            </ul>
    {{ end }}
    </div> 
</div>